<div class="code-execution-wrapper">
  <div
    #editorWrapper
    class="editor-wrapper"
    [ngStyle]="{ height: editorHeight + 'px' }"
  >
    <ngx-monaco-editor
      style="height: 100%"
      [options]="editorOptions"
      (onInit)="onEditorReady($event)"
      [(ngModel)]="code"
    ></ngx-monaco-editor>
  </div>
  <div class="console-wrapper">
    <app-code-execution-result
      [codeExecutionResult]="executingResult | async"
      [executingCode]="executingCode"
    ></app-code-execution-result>
    <div class="btn-wrapper">
      <button class="execute-btn btn" (click)="runCode()">
        <i class="fa-solid fa-play"></i> Run code
      </button>
      <button class="reset-btn btn" (click)="reset()">
        <i class="fa-solid fa-repeat"></i> Reset
      </button>
    </div>
  </div>
</div>
