<div class="code-execution-wrapper">
  <div
    #editorWrapper
    class="editor-wrapper"
    [ngStyle]="{ height: editorHeight + 'px' }"
  >
    <ngx-monaco-editor
      style="height: 100%"
      [options]="editorOptions"
      (onInit)="onEditorReady($event)"
      [(ngModel)]="code"
    ></ngx-monaco-editor>
  </div>
  <div class="console-wrapper">
    <code
      class="console-content"
      [highlight]="code"
      [languages]="['bash']"
    ></code>
    <button class="execute-btn" (click)="runCode()">
      <i class="fa-solid fa-play"></i> Run code
    </button>
  </div>
</div>
