<section class="sub-section">
  <p>
    Array methods are methods (or functions, if you're not familiar with the
    world of Object Oriented Programming) applied on an array to perform a
    certain kind of operation on each of its items.
  </p>

  <p>
    Array methods require us to provide a callback (another function), then it
    will iterate over the array's content and run the provided callback to each
    of the items. Depends on the provided callback, the array method may or may
    not return anything.
  </p>

  <p>
    <strong>General syntax of array methods: </strong
    ><code class="inline-code"
      >[array-variable].[array-method-name]([callback])</code
    >
  </p>

  <figure>
    <img
      src="https://csharpcorner-mindcrackerinc.netdna-ssl.com/article/simplify-map-reduce-and-filter-in-typescript/Images/map_filter_reduce.png"
    />
    <figcaption>
      Visual explanation for some widely used array methods. Source:
      https://www.c-sharpcorner.com/article/simplify-map-reduce-and-filter-in-typescript
    </figcaption>
  </figure>
</section>
<section id="common-themes" class="sub-section">
  <h1>Common Themes</h1>
  <p>
    Most of the array methods listed below take a <strong>function</strong> as its only argument, with each method
    performing different operations with the given function. Most of the functions that are used are of the form
    <code class="inline-code">(value, index, array) => any</code>. Functions that are passed in do not need to
    handle an index or array argument if these are not required in the function, and a value may need to be
    returned (or not) depending on the operation chosen.
  </p>
  <p>
    Here are some examples of providing a function to an array method.
  </p>
  <app-code-block [code]="commonThemesFunctionExamples"></app-code-block>
</section>
<section id="array-map" class="sub-section">
  <h1>.map() method</h1>
  <p>
    <strong>Usage: </strong> The .map() method is used when you want to perform a
    certain operation on each item of an array and get an output value from that
    operation (i.e. a one-to-one mapping from each input element to each output element).
    It accepts a callback as an argument and this callback must
    return a value. After performing the operation on all items, it will return
    a new array containing the results when applying the callback on each item.
  </p>
  <p><strong>Example: </strong></p>

  <app-code-block [code]="mapFunctionExample"></app-code-block>

  <p>
    In the above example, we passed in a function that will take in a number,
    double it and return the result. The resulting array will contain the values
    of the original array multiply by 2.
  </p>

  <p>
    Also, in practice, <code class="inline-cod">.map()</code> and other array
    methods are usually used along with arrow functions to make the code shorter
    and cleaner. Therefore, the example can be re-written as below:
  </p>

  <app-code-block [code]="mapFunctionArrowCallback"></app-code-block>

  <p>
    The callback function used in <code class="inline-code">.map()</code> can have up to three arguments,
    being the <code class="inline-code">(currentValue, currentIndex, array)</code> respectively. The
    code below shows some examples of this usage.
  </p>
  <app-code-block [code]="mapFunctionOtherFunctionArguments"></app-code-block>
</section>

<section id="array-foreach" class="sub-section">
  <h1>.forEach() method</h1>
  <p>
    <strong>Usage: </strong> Similarly with <code class="inline-code">.map()</code>,
    <code class="inline-code">.forEach()</code> is used when you want to iterate
    through an array and perform some certain operation for each item in the array.
    However, unlike <code class="inline-code">.map()</code>,
    <code class="inline-code">.forEach()</code> does not return any values so it
    does not require the callback to return anything. This can be useful when
    you just want to manipulate the existing array instead of creating a new
    one, or when iterating through the array like a traditional <code class="inline-code">for</code> loop.
  </p>

  <p>
    The callback function in <code class="inline-code">.forEach()</code> can use up to three arguments,
    corresponding to <code class="inline-code">(currentValue, currentIndex, array)</code>.
  </p>
  <p><strong>Example: </strong></p>

  <app-code-block [code]="forEachFunctionExample"></app-code-block>
</section>

<section id="array-filter" class="sub-section">
  <h1>.filter() method</h1>
  <p>
    <strong>Usage: </strong> <code class="inline-code">.filter()</code> is used
    to filter the items of an array base on some conditions. It
    will accept a callback that returns either falsy or truthy values. The
    callback will then be executed for each of the items, if the return value is
    falsy (<code class="inline-code">false, null, undefined, '', 0</code>), the item
    will not be included in the new array.
  </p>

  <p>
    Note that <code class="inline-code">.filter()</code> creates a shallow copy of items with
    truthy results, so primitive values will be copied, but other items will reference the corresponding
    original items.
  </p>
  <p>
    The callback function in <code class="inline-code">.filter()</code> can use up to three arguments,
    corresponding to <code class="inline-code">(currentValue, currentIndex, array)</code>.
  </p>
  <p><strong>Example: </strong></p>

  <app-code-block [code]="filterFunctionExample"></app-code-block>
</section>

<section id="array-find" class="sub-section">
  <h1>.find() method</h1>
  <p>
    <strong>Usage: </strong> <code class="inline-code">.find()</code> is used
    when you want to search for an item inside an array base on some conditions.
    It will accept a callback that returns either falsy or truthy values. That
    callback will then be executed on each item for the array from left to
    right, and will return the first item that satisfy the condition. If there
    are no items that can satisfy the condition,
    <code class="inline-code">.find()</code> will return
    <code class="inline-code">undefined</code>
  </p>

  <p>
    <code class="inline-code">.find()</code> is functionally similar to <code class="inline-code">.filter()</code>
    and <code class="inline-code">.findIndex()</code>, but can be chosen over these other methods if, for example,
    only one element is expected to satisfy the callback and that element needs to be used immediately.
  </p>

  <p>
    The callback function in <code class="inline-code">.find()</code> can use up to three arguments,
    corresponding to <code class="inline-code">(currentValue, currentIndex, array)</code>.
  </p>

  <p><strong>Example: </strong></p>

  <app-code-block [code]="findFunctionExample"></app-code-block>
</section>

<section id="array-find-index" class="sub-section">
  <h1>.findIndex() method</h1>
  <p>
    <strong>Usage: </strong> Similar to
    <code class="inline-code">.find()</code>,
    <code class="inline-code">.findIndex()</code> is also used to search for an
    item inside an array base on some conditions. But instead of returning the
    item itself, <code class="inline-code">.findIndex()</code> will return the
    position (or index) of that item in the array. It will accept a callback
    that returns either falsy or truthy values. That callback will then be
    executed on each item for the array from left to right, and will return the
    positon of first item that satisfy the condition. If there are no items that
    can satisfy the condition,
    <code class="inline-code">.findIndex()</code> will return
    <code class="inline-code">-1</code>.
  </p>

  <p>
    The callback function in <code class="inline-code">.findIndex()</code> can use up to three arguments,
    corresponding to <code class="inline-code">(currentValue, currentIndex, array)</code>.
  </p>

  <p><strong>Example: </strong></p>

  <app-code-block [code]="findIndexFunctionExample"></app-code-block>
</section>

<section id="array-reduce" class="sub-section">
  <h1>.reduce() method</h1>
  <p>
    <strong>Usage: </strong> Unlike other array methods,
    <code class="inline-code">.reduce()</code> does not necessarily return an array, but instead a single instance,
    (which may be a string, number, array, object etc.). In other words, it "reduces" the array into
    one single value, or in other words, in the simplest case performs a many-to-one mapping. Because the returned value
    can also be an array, <code class="inline-code">.reduce()</code> can also be a one-to-one, or one-to-many mapping.
  </p>

  <p>
    <code class="inline-code">.reduce()</code> works by starting with an initial value (e.g. 0), and then iterates through
    the array, changing the initial value (now referred to as the <strong>accumulator</strong>), and the final value
    is returned. For example, by adding each value in an array to numbers to the accumulator, we can calculate the sum of the
    numbers in the array.
  </p>

  <p>
    <code class="inline-code">.reduce()</code> does this by taking 2 arguments: A callback and an initial value.
  </p>

  <p>
    <strong>Unlike most other array methods</strong>, the callback function in <code class="inline-code">.reduce()</code>
    can use up to <strong>four arguments</strong>, corresponding to
    <code class="inline-code">(accumulator, currentValue, currentIndex, array)</code>.
  </p>

  <p><strong>Example: </strong></p>

  <app-code-block [code]="reduceFunctionExample"></app-code-block>
</section>

<section id="array-some" class="sub-section">
  <h1>.some() method</h1>
  <p>
    <strong>Usage: </strong><code class="inline-code">.some()</code> can be considered a special case of <code class="inline-code">.reduce()</code>,
    where the result is <code class="inline-code">true</code> or <code class="inline-code">false</code>, depending on whether
    there is <strong>any</strong> element in the array which returns truthy to the callback function.
  </p>
  <p>
    As the syntax for <code class="inline-code">.reduce()</code> can be cumbersome and difficult to read, it may be good to use
    <code class="inline-code">.some()</code> when suitable to improve the readability of code.
  </p>

  <p>
    The callback function in <code class="inline-code">.some()</code> can use up to three arguments,
    corresponding to <code class="inline-code">(currentValue, currentIndex, array)</code>.
  </p>

  <p><strong>Example: </strong></p>

  <app-code-block [code]="someFunctionExample"></app-code-block>
</section>

<section id="array-every" class="sub-section">
  <h1>.every() method</h1>
  <p>
    <strong>Usage: </strong><code class="inline-code">.every()</code> can be considered a special case of <code class="inline-code">.reduce()</code>,
    where the result is <code class="inline-code">true</code> or <code class="inline-code">false</code>, depending on whether
    <strong>every</strong> element in the array returns truthy to the callback function.
  </p>
  <p>
    Similarly to <code class="inline-code">.some()</code>, <code class="inline-code">.every()</code> is more concise
    than using <code class="inline-code">.reduce()</code>, and so can improve code readability.
  </p>

  <p>
    The callback function in <code class="inline-code">.every()</code> can use up to three arguments,
    corresponding to <code class="inline-code">(currentValue, currentIndex, array)</code>.
  </p>

  <p><strong>Example: </strong></p>

  <app-code-block [code]="everyFunctionExample"></app-code-block>
</section>

<section id="array-slice" class="sub-section">
  <h1>.slice() method</h1>
  <p>
    <strong>Usage: </strong><code class="inline-code">.slice()</code> can be used to make shallow copies of a contiguous
    section of the array, by specifying a starting and ending index (the ending index is excluded from the result). If a
    second argument is omitted, the result starts from the first argument, to the end of the array. If no arguments are given,
    a shallow copy of the entire array is returned.
  </p>
  <p>
    The index arguments can be zero to denote the start of the array, positive to denote 0-based positions from the start
    of the array, or negative to denote 0-based positions from the end of the array. If the first index comes after the second index,
    an empty array is returned.
  </p>
  <p>
    The callback function in <code class="inline-code">.slice()</code> can use up to two arguments,
    corresponding to <code class="inline-code">(startIndex, endIndex)</code>.
  </p>

  <p><strong>Example: </strong></p>

  <app-code-block [code]="sliceFunctionExample"></app-code-block>
</section>

<section id="array-splice" class="sub-section">
  <h1>.splice() method</h1>
  <p>
    <strong>Usage: The </strong><code class="inline-code">.splice()</code> performs provides two actions. The first
    is to remove a contiguous section of the array in-place (i.e. the original array is modified) and replaced with other specified
    elements. The second, is that the removed contiguous section is returned from the method.
  </p>
  <p>
    The section of the array to be removed is defined with an index argument, and the length of the section to be removed.
    If the second argument (length) is not specified, the rest of the array after the starting index is removed. Any further arguments
    (after the second) are element to be 'spliced' (inserted) in place of the removed section in order. If no arguments are
    given, no elements are removed or spliced in.
  </p>
  <p>
    The callback function in <code class="inline-code">.splice()</code> takes any number of arguments,
    corresponding to <code class="inline-code">(startIndex, sectionLength, ...splicedElements)</code>.
  </p>

  <p><strong>Example: </strong></p>

  <app-code-block [code]="spliceFunctionExample"></app-code-block>
</section>
