<section class="sub-section">
  <p>
    Array methods are methods (or functions, if you're not familiar with the
    world of Object Oriented Programming) applied on an array to perform a
    certain kind of operation on each of its items.
  </p>

  <p>
    Array methods require us to provide a callback (another function), then it
    will iterate over the array's content and run the provided callback to each
    of the items. Depends on the provided callback, the array method may or may
    not return anything.
  </p>

  <p>
    <strong>General syntax of array methods: </strong
    ><code class="inline-code"
      >[array-variable].[array-method-name]([callback])</code
    >
  </p>
</section>
