<div class="container">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">JS/TS Tips and Tricks</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sideNav opened mode="side" class="sidenav">
      <mat-nav-list class="nav-list">
        <mat-expansion-panel
          *ngFor="let page of pages"
          hideToggle
          [class.mat-elevation-z0]="true"
          dense
        >
          <mat-expansion-panel-header
            class="main-link"
            [routerLink]="page.route"
            >{{ page.title }}</mat-expansion-panel-header
          >
          <mat-nav-list dense>
            <a
              *ngFor="let subPage of page.subPages"
              mat-list-item
              [href]="page.route + '#' + subPage.route"
              >{{ subPage.title }}</a
            >
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
