<h3>
  This section explains the theory behind asynchronous operations in general and
  how it works in JavaScript.
</h3>

<section id="sync-vs-async" class="sub-section">
  <app-markdown-content-parser
    sourcePath="/assets/content/promise_async_await/01_sync_vs_async.md"
  ></app-markdown-content-parser>
</section>

<section id="callback" class="sub-section">
  <app-markdown-content-parser
    sourcePath="/assets/content/promise_async_await/02_callback.md"
  ></app-markdown-content-parser>
</section>

<section id="promise" class="sub-section">
  <app-markdown-content-parser
    sourcePath="/assets/content/promise_async_await/03_promise.md"
  ></app-markdown-content-parser>
</section>

<section id="async-await" class="sub-section">
  <app-markdown-content-parser
    sourcePath="/assets/content/promise_async_await/04_async_await.md"
  ></app-markdown-content-parser>
</section>

<section id="event-loop" class="sub-section">
  <app-markdown-content-parser
    sourcePath="/assets/content/promise_async_await/05_event_loop.md"
  ></app-markdown-content-parser>
</section>
