<section id="sync-vs-async" class="sub-section">
  <app-markdown-content-parser
    sourcePath="/assets/content/promise_async_await/sync_vs_async.md"
  ></app-markdown-content-parser>
</section>

<section id="callback" class="sub-section">
  <app-markdown-content-parser
    sourcePath="/assets/content/promise_async_await/callback.md"
  ></app-markdown-content-parser>
</section>

<section id="promise" class="sub-section">
  <app-markdown-content-parser
    sourcePath="/assets/content/promise_async_await/promise.md"
  ></app-markdown-content-parser>
</section>

<section id="async-await" class="sub-section">
  <app-markdown-content-parser
    sourcePath="/assets/content/promise_async_await/async_await.md"
  ></app-markdown-content-parser>
</section>

<section id="event-loop" class="sub-section">
  <app-markdown-content-parser
    sourcePath="/assets/content/promise_async_await/event_loop.md"
  ></app-markdown-content-parser>
</section>
